body{
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(238, 238, 238);
}
.logo {
    font-family: sans-serif; 
    font-size: 50px; 
    color: #1877f2; 
    letter-spacing: -1px; 
}
.container{
    width: 57%;
    height: fit-content;
    margin-top: 100px;
    margin-right: 200px;
    margin-left: 200px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
.right{
    flex: 1;
    display: flex;
    flex-direction: column;
    background: white;
    justify-content: space-between;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.left{
    flex: 1;
    text-align: left;
    margin-right: 50px;
}
hr{
    width: 100%;

}
button{
    margin-top:20px;
    font-size: 20px;
    border-radius: 10px;
    border: 0px;
    font-weight: bold;
    height: 50px;
}
input{
    color: solid rgb(238, 238, 238);
    border-color: solid rgb(238, 238, 238);
    border-width: 1px;
    margin-top:20px;
    font-size: 19px;
    padding: 10px;
    border-radius: 10px;
}
#forgot{
    margin-top:20px;
    text-decoration: none;
    color:rgb(44, 125, 255);
    font-size: 15px;
}
#forgot:hover{
    text-decoration: underline;
}
#createNew{
    width: fit-content;
    margin: auto;
    background-color: rgb(74, 183, 74);
    color: white;
    font-size: 15px;
}
#createNew:hover{
    background-color: rgb(54, 132, 54);
    cursor: pointer;
}

#enter{
    background-color: rgb(44, 125, 255);
    color: white;
}
#enter:hover{
    background-color: rgb(30, 85, 174);
    cursor: pointer;
}

#infotext{
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 24px;
    line-height: 28px;
    font-weight: normal;
}
.buttonlinks{
    display: flex;
    text-decoration: none;
    color:white;
    justify-content: center;
    align-items: center;
    height:100%;
    width: 100%;
}