body{
    height: 100vh;
    margin: 0px;
    padding: 0;
}
header{
    background-color: black;
}
#topBlock{
    position: absolute;
    top:150px;
    height: 200px;
    width: 600px;
    left: 50%;
    transform: translateX(-50%);
    padding-left: 10px;
    padding-right: 10px;
}
#bottomBlock{
    top:350px;
    position: absolute;
    background-color: rgb(70, 88, 33);
    height: 300px;
    width: 600px;
    left: 50%;
    transform: translateX(-50%);
}
button{
    font-size: 20px;
    padding:10px;
    margin-top: 10px;
    border-radius: 20px;
    background-color: white;
    border: 2px solid rgb(150, 150, 150);
    color: rgb(150, 150, 150);

}
button:hover{
    cursor: pointer;
}
input{
    font-size: 20px;
    width: 100%;
    border-radius: 20px;
    border: 2px solid rgb(150, 150, 150);
    padding: 10px;

}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background: #edeef0;
}
